@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	margin: 0;	
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;	
}

#header {
	width: 100%;
	height: 15vh;
	background: #f8f8f8;
	margin: 0px;
}

#logo{
	width: 200px;
	
}

.formulario{
	margin: 20px;
	
}

#form{
	width: 40%;
	
}

#form table {
	width: 100%;
}

#form table input{
	border: 1px solid #CCC;
	box-shadow: none;
	width: 100%;
	margin-bottom: 15px;	
}

#form button {
	background: none;
	border: 2px solid rgb(0, 0, 0);
	color: rgb(0, 0, 0);
	border-radius: 50px;
	width: 250px;	
}


#table{
	width: 80%;
	border: none;	
}

#table th{
	color: #FFF;
	background: #593199;
	text-shadow: none;
	height: 30px;
	box-shadow: none;
}

#table th, #table td{
	border-color: #FFF;	
}

