<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet library="css" name="estilos.css" />
	<title>Meetapp</title>
</h:head>
<h:body>
	<div id="header" class="center">
		<h:graphicImage id="logo" library="images" name="meetapp.png"></h:graphicImage>
	</div>
	<h1 class="center ">Cadastrar Eventos</h1>
	<div class="formulario center">
		<h:form id="form">
			<h:panelGrid>
				<p:outputLabel value="Nome do evento:" />
				<p:inputText value="#{eventoBean.evento.nome}" />

				<p:outputLabel value="Nome da Organização:" />
				<p:inputText value="#{eventoBean.evento.organizacao}" />

				<p:outputLabel value="Local:" />
				<p:inputText value="#{eventoBean.evento.local}" />

				<p:outputLabel value="Data:" />
				<p:inputText value="#{eventoBean.evento.data}" type="date"/>

				<p:outputLabel value="Horário:" />
				<p:inputText value="#{eventoBean.evento.horario}" type="time" />

				<h:panelGroup styleClass="center">
					<p:commandButton id="btn-enviar" value="Cadastrar"
						action="#{eventoBean.adicionarEvento}" update="form table" />
				</h:panelGroup>

			</h:panelGrid>
		</h:form>
	</div>

	<h:panelGroup styleClass="center">
		<p:dataTable value="#{eventoBean.eventos}" var="event" border="1"
			id="table">
			<p:column headerText="Nome">#{event.nome}</p:column>
			<p:column headerText="Organização">#{event.organizacao}</p:column>
			<p:column headerText="Local">#{event.local}</p:column>
			<p:column headerText="Data">#{event.data}</p:column>
			<p:column headerText="Horário">#{event.horario}</p:column>
		</p:dataTable>
	</h:panelGroup>
</h:body>
</html>