<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Primeira Pagina</title>
</head>
<body>
	<h1>Primeira Página JSF</h1>
	<h:form>
		<h:panelGrid>

			<h:outputText value="Nome" />
			<h:inputText />

			<h:outputText value="Senha" />
			<h:inputSecret />
			
			<h:selectManyCheckbox>
				<f:selectItem itemLabel="Salvar Login" />
			</h:selectManyCheckbox>
			
			<h:commandButton value="enviar" />
			
		</h:panelGrid>
		<h:selectOneMenu>
			<
		</h:selectOneMenu>

	</h:form>

</body>
</html>